$(document).ready(function() {
	$(".add_photo").click(function() {
		//$(this).before('<%= raw (render :partial => 'photo', :object => Photo.new).gsub("\n", "\\n") %>');

		// Extract the previous photo index
		var index = parseInt($(this).siblings('.photo:last').find('input').attr('name').match(/[\d]+/)[0]);

		var photo_element = $(this).siblings('.photo:last').clone();

		photo_element.find('input').each(function(i, input) {
			$(input).attr('name', $(input).attr('name').replace(index, index + 1));
		});

		photo_element.insertBefore($(this));

		return false;
	});

	$(".delete_photo").click(function() {
		$(this).siblings('input').val(1);
		$(this).parent().parent().hide();

		return false;
	});

	$(".featured").click(function() {
		$(".featured").attr('checked', false);
		$(this).attr('checked', 'checked');
	});

	function writeDollar ( ammount ) {
		$("#price_slider_readout").text( '$' + ammount );
	}

	if($("#price_slider").length > 0) {
		$("#price_slider").noUiSlider( {
			range: [0,<%= @highest_price %>],
			start: <%= @highest_price %>,
			step: 100,
			handles: 1,
			serialization: {
				to: [$("#price_slider_readout")]
			},
			behaviour: "extend-tap"
		}).change( function() {
			var price = $("#price_slider").val();
			var bedrooms = $("#size_categories .active a:last").attr('rel');
			$.get("/list", {
				layout: false,
				low_price: 0,
				high_price: price,
				bedrooms: bedrooms
			}, function(data) {
				$("section.listing").empty().html(data);
			});
		});
	}

  	$("#size_categories li a").click(function () {
  		$("#size_categories li").removeClass('active');
  		$(this).parent().addClass('active');

  		var bedrooms = $(this).attr('rel');
		var price = $("#price_slider").val();

  		if(bedrooms == '-1') {
  			$("#bedroom_filter_readout").text("any number of bedrooms");
	  		$.get("/list", {
	  			layout: false,
	  			low_price: 0,
	  			high_price: price
	  		}, function (data) {
	  			$("section.listing").empty().html(data);
	  		});
  		}
  		else {
  			$("#bedroom_filter_readout").text(bedrooms + " bedrooms");
	  		$.get("/list", {
	  			layout: false,
	  			bedrooms: bedrooms,
	  			low_price: 0,
	  			high_price: price
	  		}, function (data) {
	  			$("section.listing").empty().html(data);
	  		});
	  	}

  		return false;
  	});

	$(document).on('click', '.reset_filters', function() {
  		$(".sliderbar").val( <%= @highest_price %>);
  		$("#bedroom_filter_readout").text("pick an option");
  		$("#size_categories li.active").removeClass('active');
  		$("#size_categories li:first").addClass('active');

  		$.get("/list", {
  				layout: false
  			}, function(data) {
  			$("section.listing").empty().html(data);
  		});
  	});

	var myOptions = {
	  center: new google.maps.LatLng(42.7958, -77.8172),
	  zoom: 15,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("big_map"), myOptions);

	var infowindow = new google.maps.InfoWindow({
		content: "hello world"
	});

  	<% @properties.each_with_index do |property, index| %>
  		add_address_marker('<%= property.address %>, Geneseo NY 14454', '<div class="map_window"><h4><%= property.address %></h4> \
  			<%= image_tag property.featured_photo.photo.url(:thumb) if property.has_photo? %> \
            <p><%= property.bedrooms %> bedroom<%= property.bedrooms == 1 ? '' : 's' %></p> \
\
            <p>$<%= property.price %> per <%= property.unit %></p> \
\
  			<p><%= link_to "read more", property %></p> \
  			</div>', map);
  	<% end %>

  function add_address_marker(address, description, map) {
	  var geocoder = new google.maps.Geocoder();
			geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						title: address
				});

				google.maps.event.addListener(marker, "click", function() {
					infowindow.setContent(description);
					infowindow.open(map, this);
				});
			} else {
				console.log("Geocode was not successful for the following reason: " + status);
			}
		});	
  }
	
});



function update_sliderbar_readout() {
	var prices = $(".sliderbar").noUiSlider("getValue");

	$(".sliderbar .noUi_lowerHandle .noUi_readout").text("$" + Math.round(prices[0] * <%= @highest_price %> / 100));
	$(".sliderbar .noUi_upperHandle .noUi_readout").text("$" + Math.round(prices[1] * <%= @highest_price %> / 100));
}
