
= link_to 'Back to all listings', dashboard_path, :class => "btn", :action => 'list'
= link_to 'Edit Listing', edit_property_path(@property), :class => "btn"

%h3.property-title= @property.address

.photos
  - if @property.has_photo?
    - @property.photos.each do |photo|
      .image_wrapper
        %a.image{:href => "#"}
          = image_tag photo.photo.url(:medium)
.description
  = @property.description

%dl.show
  %section
    %h4 Contact info
    %dt Owner:
    %dd= @property.landlord.name
    - if @property.landlord.hide_email == false
      %dt Email:
      %dd
        %a{:href => "mailto:#{@property.landlord.user.email}"}= @property.landlord.user.email
    %dt Phone:
    %dd= @property.landlord.phone
  %section
    %h4 Rent Details
    %dt Price:
    %dd
      $#{@property.price} per #{@property.unit}
    %dt Available over the Summer:
    %dd= @property.summer ? 'yes' : 'no'
  %section
    %h4 Property Info
    %dt Bedrooms:
    %dd= @property.bedrooms
    %dt Parking:
    %dd= @property.parking ? 'yes' : 'no'
    %dt Laundry:
    %dd= @property.laundry ? 'included' : 'not included'
    - if @property.utilities != ''
      %dt Utilities:
      %dd= @property.utilities

