= link_to 'Edit Listing', edit_property_path(@property), :class => "edit_btn on_white"

%section
  = link_to 'All listings/', '/list', :class => "breadcrumb"
  %h3.property-title= @property.address

%section
  .photos
    - if @property.has_photo?
      - @property.photos.each do |photo|
        .image_wrapper
          %a.expandable_image{:href => "#"}
            = image_tag photo.photo.url(:medium), :class => "thumb"

%section.description
  %h4.detail_title Description
  %p
    = @property.description.gsub("\n", "</p><p>").html_safe

%section.detail_list
  %h4.detail_title Contact info
  %dl
    - if @property.landlord.name
      %dt Owner:
      %dd= @property.landlord.name
    - if @property.landlord.hide_email == false
      %dt Email:
      %dd
        %a{:href => "mailto:#{@property.landlord.user.email}"}= @property.landlord.user.email
    - if @property.landlord.phone
      %dt Phone:
      %dd= @property.landlord.phone

%section.detail_list
  %h4.detail_title Rent Details
  %dl
    - if @property.price
      %dt Rent:
      %dd
        = '$' + @property.price.to_s
        per 
        =@property.unit
    - if @property.summer
      %dt Available over the Summer:
      %dd= @property.summer ? 'Yes' : 'No'

%section.detail_list
  %h4.detail_title Property Info
  %dl
    
    %dt Bedrooms:
    %dd= @property.bedrooms
    
    %dt Parking:
    %dd= @property.parking ? 'Yes' : 'No'
    
    %dt Laundry:
    %dd= @property.laundry ? 'included' : 'not included'
    - if @property.utilities != ''
      %dt Utilities:
      %dd= @property.utilities
