= link_to 'Back to all listings', '/list', :class => "btn"
= link_to 'Edit Listing', edit_property_path(@property), :class => "btn"

%section
  %h3.property-title= @property.address

%section
  .photos
    - if @property.has_photo?
      - @property.photos.each do |photo|
        .image_wrapper
          %a.expandable_image{:href => "#"}
            = image_tag photo.photo.url(:medium), width: 200
%section
  .description
    %p
      = @property.description.gsub("\n", "</p><p>").html_safe

%section
  %dl.show
    %h4 Contact info
    - if @property.landlord.name
      %dt Owner:
      %dd= @property.landlord.name
    - if @property.landlord.hide_email == false
      %dt Email:
      %dd
        %a{:href => "mailto:#{@property.landlord.user.email}"}= @property.landlord.user.email
    - if @property.landlord.phone
      %dt Phone:
      %dd= @property.landlord.phone

%section
  %dl.show
    %h4 Rent Details
    - if @property.price
      %dt Rent:
      %dd
        = '$' + @property.price.to_s
        per 
        =@property.unit
    - if @property.summer
      %dt Available over the Summer:
      %dd= @property.summer ? 'Yes' : 'No'

%section
  %dl.show
    %h4 Property Info
    
    %dt Bedrooms:
    %dd= @property.bedrooms
    
    %dt Parking:
    %dd= @property.parking ? 'Yes' : 'No'
    
    %dt Laundry:
    %dd= @property.laundry ? 'included' : 'not included'
    - if @property.utilities != ''
      %dt Utilities:
      %dd= @property.utilities
