- properties.each_with_index do |property, index|
  .post
    - if user_signed_in? and property.landlord_id == @user.landlord.id
      = link_to 'edit info', edit_property_url(property), :class => 'edit'
    .photo_container
      - if property.has_photo?
        %a{:href => "/properties/" + property.id.to_s}
          = image_tag property.featured_photo.photo.url(:medium), :class => 'property_photo'
    .info
      .address
        %a{:href => "/properties/" + property.id.to_s}
          %h4= property.address
      %dl
        %dt Bedrooms:
        %dd= property.bedrooms
        %dt Rent:
        %dd
          $#{property.price}
          %span.pay_period= 'per ' + property.unit
