- properties.each_with_index do |property, index|
  %li
    .property-card
      .photo_container
        - if user_signed_in? and property.landlord_id == @user.landlord.id
          = link_to 'edit info', edit_property_url(property), :class => 'edit_btn'
        %a{:href => "/properties/" + property.id.to_s}
          - if property.has_photo?
            = image_tag property.featured_photo.photo.url(:medium), :class => 'property_photo'
          - else
            .property_filler_img
      .info.card-body
        %h3.card-title
          %a{:href => "/properties/" + property.id.to_s}
            = property.address
        .property-price
          $#{property.price}
          %span.unit= '/' + property.unit

        .meta-data
          .cell
            #{property.bedrooms}
            - if property.bedrooms <= 1
              %span bed
            - else
              %span beds
          .cell
            -if property.laundry
              laundry
            -else
              no laundry
          .cell
            -if property.parking
              parking
            -else
              no parking



