%header.site_header
  %h1.header_logo
    %a{:href => "/"} Geneseo Off-Campus
  %h2.tagline.large-12
    %a{:href => "/"} The best place to find off-campus housing.
%section
  %a.students.medium-6.columns{:href => '/list'}
    .homepage_link
      %div Students: 
      %div View All Listings
  %a.landlords.medium-6.columns{:href => '/landing'}
    .homepage_link
      %div Landlords:
      %div Add Your Property
%section.small-12.columns
  #big_map.homepage_map

%section.featured.small-12.columns
  - @featured.each do |property|

    %a.property{:href => 'properties/' + property.id.to_s }
      .photo
        - if property.has_photo?
          = image_tag property.featured_photo.photo.url(:thumb)

      .description
        %h4
          = property.address

        %p
          = property.bedrooms
          bedrooms

        %p
          = "$" + property.price.round.to_s
          per 
          = property.unit 

  .full_width
    = link_to 'Landlords, get your properties featured right here on the homepage!', { :action => 'landing' }, { :class => 'homepage_link' }
