%section.row
  %a.students.eight.columns{:href => '/list'}
    .homepage_link
      %p Students: 
      %p View All Listings
  %a.landlords.eight.columns{:href => '/landing'}
    .homepage_link
      %p Landlords:
      %p Add Your Property
%section.row
  #big_map.homepage_map

%section.featured.row
  - @featured.each do |property|

    %a.property{:href => 'properties/' + property.id.to_s }
      .photo
        - if property.has_photo?
          = image_tag property.featured_photo.photo.url(:thumb)

      .description
        %h4
          = property.address

        %p
          = property.bedrooms
          bedrooms

        %p
          = "$" + property.price.round.to_s
          per 
          = property.unit 

  .full_width
    = link_to 'Landlords, get your properties featured right here on the homepage!', { :action => 'landing' }, { :class => 'homepage_link' }
