%section
  %a.homepage_link_padding.students{:href => '/list'}
    .homepage_link
      %p Students: 
      %p View All Listings
  %a.homepage_link_padding.landlords{:href => '/landing'}
    .homepage_link
      %p Landlords:
      %p Add Your Property
%section.clear
  #big_map.homepage_map

%section
  - @featured.each_with_index do |property, index|
    - if index % 2 == 0
      .row

    %a{:href => 'properties/' + property.id.to_s }
      .post
        - if property.has_photo?
          = image_tag property.featured_photo.photo.url(:medium)

        %h4
          = property.address

        %p
          = property.bedrooms
          bedrooms

        %p
          = "$" + property.price.round.to_s
          per 
          = property.unit 
  .homepage_link_padding.full_width
    = link_to 'Landlords, get your properties featured right here on the homepage!', { :action => 'list' }, { :class => 'homepage_link' }
