%header.content_header
  %h2 Your Account
%section#properties
  %h3 Your Properties
  %table.property_list
    %thead
      %tr
        %th Photo
        %th Address
        %th Bedrooms
        %th Rent
        %th Availability
        %th Actions
    %tbody
      - @landlord.properties.each do |property|
        %tr.property
          %td
            .table_thumbnail
              - if property.has_photo?
                = image_tag property.featured_photo.photo.url(:thumb)
          %td= property.address
          %td #{property.bedrooms} bedroom#{'s' if property.bedrooms > 1}
          %td $#{property.price} per #{property.unit}
          %td
          %td.actions
            = link_to 'view listing', property, :class => 'btn small'
            = link_to 'Edit', edit_property_path(property), :class => 'btn small'
            = link_to 'Delete', property, confirm: 'Are you sure?', method: :delete, :class => 'btn warning small'
  = link_to '+ Add Property', new_property_path, :class => 'btn main_action'
%section#personal_info
  %h3 Your Information
  = form_for @landlord do |form|
    %fieldset
      = form.label :name, 'Name:'
      = form.text_field :name
    %fieldset
      = form.label :phone, 'Phone Number:'
      = form.text_field :phone
    %fieldset
      = form.check_box :hide_email
      = form.label 'Hide email address:'
    %fieldset
      = form.submit "Save Changes", :class => 'btn main_action'
