.small-12.columns
  %header.content_header
    %h2 Your Account
  %section#properties
    %h3 Your Properties
    %table.property_list.small-12.columns
      %thead
        %tr
          %th.show-for-medium-up Photo
          %th Address
          %th.show-for-medium-up Bedrooms
          %th.show-for-medium-up Rent
          %th Availability
          %th Actions
      %tbody
        - @landlord.properties.each do |property|
          %tr.property
            %td.show-for-medium-up
              .table_thumbnail
                - if property.has_photo?
                  = image_tag property.featured_photo.photo.url(:thumb)
            %td= property.address
            %td.show-for-medium-up #{property.bedrooms} bedroom#{'s' if property.bedrooms > 1}
            %td.show-for-medium-up $#{property.price} per #{property.unit}
            %td
            %td.actions
              = link_to 'view listing', property, :class => 'button tiny'
              = link_to 'Edit', edit_property_path(property), :class => 'button tiny'
              = link_to 'Delete', property, confirm: 'Are you sure?', method: :delete, :class => 'button tiny warning'
    = link_to '+ Add Property', new_property_path, :class => 'button tiny main_action'
  %section#personal_info.row
    .medium-6.columns
      %h3 Your Information
      = form_for @landlord do |form|
        = form.label :name, 'Name:'
        = form.text_field :name
        = form.label :phone, 'Phone Number:'
        = form.text_field :phone
        = form.check_box :hide_email
        = form.label 'Hide email address'
        %br
        = form.submit "Save Changes", :class => 'button main_action'
